# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Airflow
airflow/logs/

# Generated datasets
data/curated/
data/processed/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
